ul{
	list-style-type: none;
} 
.menu ul{
	margin: 0px;
	padding: 5px;
}
.menu ul li{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #5e5e5e;
    min-height: 40px; 
    /* margin-bottom: 5px; */
}
.menu{
width: 50%;
display: block;
margin: 0 auto;
background-color: #67757c;	
border: 1px solid #5e5e5e;
}
	.menu h1,h2{
	margin: 0px;
	padding: 0px;
	color: #67757c;
}
.menu h3,h4,h5,h6,p{
	margin: 0px;
	padding: 0px;
	color: #d5d5d5;
}
.side{
	float:left;	
	border: 1px solid #5e5e5e;
}
.side h3{
	color: #d5d5d5;
	background-color: #343434;
	margin: 0px;
}
.side ul{
	float:left;	
	margin: 0px;
	padding: 0px;
}
.side ul li{
	background-color: #2685a1;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #5e5e5e;
	margin-bottom: 1px;
}
#price{
	float: right;
	color: #e59e34;
}
#add{
	float: right;
}
#order{
	float: right;
	border: 2px solid #ea4155;
	background-color: #4c4c4c;
	color: #eeeeee;
}
input{
	width: 40px;
	background-color: #5e5e5e;
	color: #ffffff;
	border: 1px solid #ff9224;font-family: proxima-nova;
}
.edlink{
	float:left;
}
.delink{
	float: right;
}
